# Data Exploration

In [2]:
%load_ext autotime

The autotime extension is already loaded. To reload it, use:
  %reload_ext autotime
time: 583 Âµs (started: 2021-07-25 14:07:17 +00:00)

In [1]:
from setup import start_spark, extract_data

spark = start_spark(sesh_name='Jupyter Explore Data')

In [2]:
spark.sql("SHOW DATABASES").collect()

[Row(namespace='clean'),
 Row(namespace='default'),
 Row(namespace='nyc_taxi_analytics'),
 Row(namespace='processed'),
 Row(namespace='raw')]

# Check Tables and Schemas

In [6]:
spark.sql("DESCRIBE DATABASE raw").collect()

[Row(database_description_item='Database Name', database_description_value='raw'),
 Row(database_description_item='Comment', database_description_value=''),
 Row(database_description_item='Location', database_description_value='s3a://storage/warehouse/raw'),
 Row(database_description_item='Owner', database_description_value='root')]

time: 46.6 ms (started: 2021-07-25 09:22:10 +00:00)

In [7]:
spark.sql("SHOW TABLES IN raw").collect()

[Row(database='raw', tableName='green_merged', isTemporary=False),
 Row(database='raw', tableName='green_taxi_2015_h1', isTemporary=False),
 Row(database='raw', tableName='green_taxi_2015_h2_2016_h1', isTemporary=False),
 Row(database='raw', tableName='green_taxi_pre2015', isTemporary=False),
 Row(database='raw', tableName='yellow_merged', isTemporary=False),
 Row(database='raw', tableName='yellow_taxi_2015_2016_h1', isTemporary=False),
 Row(database='raw', tableName='yellow_taxi_pre2015', isTemporary=False)]

time: 44.7 ms (started: 2021-07-25 09:22:10 +00:00)

In [8]:
spark.sql("DESCRIBE TABLE raw.yellow_taxi_pre2015").collect()

[Row(col_name='vendor_id', data_type='string', comment=''),
 Row(col_name='pickup_datetime', data_type='string', comment=''),
 Row(col_name='dropoff_datetime', data_type='string', comment=''),
 Row(col_name='passenger_count', data_type='string', comment=''),
 Row(col_name='trip_distance', data_type='string', comment=''),
 Row(col_name='pickup_longitude', data_type='string', comment=''),
 Row(col_name='pickup_latitude', data_type='string', comment=''),
 Row(col_name='rate_code', data_type='string', comment=''),
 Row(col_name='store_and_fwd_flag', data_type='string', comment=''),
 Row(col_name='dropoff_longitude', data_type='string', comment=''),
 Row(col_name='dropoff_latitude', data_type='string', comment=''),
 Row(col_name='payment_type', data_type='string', comment=''),
 Row(col_name='fare_amount', data_type='string', comment=''),
 Row(col_name='surcharge', data_type='string', comment=''),
 Row(col_name='mta_tax', data_type='string', comment=''),
 Row(col_name='tip_amount', data_type='string', comment=''),
 Row(col_name='tolls_amount', data_type='string', comment=''),
 Row(col_name='total_amount', data_type='string', comment=''),
 Row(col_name='', data_type='', comment=''),
 Row(col_name='# Partitioning', data_type='', comment=''),
 Row(col_name='Not partitioned', data_type='', comment='')]

time: 10 s (started: 2021-07-25 09:22:10 +00:00)

In [9]:
spark.sql("DESCRIBE TABLE raw.yellow_taxi_2015_2016_h1").collect()

[Row(col_name='VendorID', data_type='string', comment=''),
 Row(col_name='tpep_pickup_datetime', data_type='string', comment=''),
 Row(col_name='tpep_dropoff_datetime', data_type='string', comment=''),
 Row(col_name='passenger_count', data_type='string', comment=''),
 Row(col_name='trip_distance', data_type='string', comment=''),
 Row(col_name='pickup_longitude', data_type='string', comment=''),
 Row(col_name='pickup_latitude', data_type='string', comment=''),
 Row(col_name='RatecodeID', data_type='string', comment=''),
 Row(col_name='store_and_fwd_flag', data_type='string', comment=''),
 Row(col_name='dropoff_longitude', data_type='string', comment=''),
 Row(col_name='dropoff_latitude', data_type='string', comment=''),
 Row(col_name='payment_type', data_type='string', comment=''),
 Row(col_name='fare_amount', data_type='string', comment=''),
 Row(col_name='extra', data_type='string', comment=''),
 Row(col_name='mta_tax', data_type='string', comment=''),
 Row(col_name='tip_amount', data_type='string', comment=''),
 Row(col_name='tolls_amount', data_type='string', comment=''),
 Row(col_name='improvement_surcharge', data_type='string', comment=''),
 Row(col_name='total_amount', data_type='string', comment=''),
 Row(col_name='', data_type='', comment=''),
 Row(col_name='# Partitioning', data_type='', comment=''),
 Row(col_name='Not partitioned', data_type='', comment='')]

time: 2.17 s (started: 2021-07-25 09:22:20 +00:00)

Inspect the new Yellow data

In [10]:
yellow_2015_2016_h1 = spark.sql("select * from raw.yellow_taxi_2015_2016_h1")

time: 72.3 ms (started: 2021-07-25 09:22:23 +00:00)

In [11]:
yellow_2015_2016_h1 \
    .withColumnRenamed("VendorID", "vendor_id") \
    .withColumnRenamed("tpep_pickup_datetime", "pickup_datetime") \
    .withColumnRenamed("tpep_dropoff_datetime", "dropoff_datetime") \
    .withColumnRenamed("RatecodeID", "rate_code").printSchema()

root
 |-- vendor_id: string (nullable = true)
 |-- pickup_datetime: string (nullable = true)
 |-- dropoff_datetime: string (nullable = true)
 |-- passenger_count: string (nullable = true)
 |-- trip_distance: string (nullable = true)
 |-- pickup_longitude: string (nullable = true)
 |-- pickup_latitude: string (nullable = true)
 |-- rate_code: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- dropoff_longitude: string (nullable = true)
 |-- dropoff_latitude: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: string (nullable = true)
 |-- extra: string (nullable = true)
 |-- mta_tax: string (nullable = true)
 |-- tip_amount: string (nullable = true)
 |-- tolls_amount: string (nullable = true)
 |-- improvement_surcharge: string (nullable = true)
 |-- total_amount: string (nullable = true)

time: 25.5 ms (started: 2021-07-25 09:22:23 +00:00)

In [29]:
spark.sql("DESCRIBE DATABASE clean").collect()

[Row(database_description_item='Database Name', database_description_value='clean'),
 Row(database_description_item='Comment', database_description_value=''),
 Row(database_description_item='Location', database_description_value='s3a://storage/warehouse/clean'),
 Row(database_description_item='Owner', database_description_value='root')]

time: 11.6 ms (started: 2021-07-25 13:34:41 +00:00)

In [30]:
spark.sql("SHOW TABLES in clean").collect()

[Row(database='clean', tableName='green_clean', isTemporary=False),
 Row(database='clean', tableName='yellow_clean', isTemporary=False)]

time: 23 ms (started: 2021-07-25 13:34:43 +00:00)

In [31]:
spark.sql("DESCRIBE TABLE clean.yellow_clean").collect()

[Row(col_name='vendor_id', data_type='string', comment=''),
 Row(col_name='pickup_datetime', data_type='timestamp', comment=''),
 Row(col_name='dropoff_datetime', data_type='timestamp', comment=''),
 Row(col_name='passenger_count', data_type='int', comment=''),
 Row(col_name='trip_distance', data_type='float', comment=''),
 Row(col_name='pickup_longitude', data_type='float', comment=''),
 Row(col_name='pickup_latitude', data_type='float', comment=''),
 Row(col_name='rate_code', data_type='string', comment=''),
 Row(col_name='store_and_fwd_flag', data_type='string', comment=''),
 Row(col_name='dropoff_longitude', data_type='float', comment=''),
 Row(col_name='dropoff_latitude', data_type='float', comment=''),
 Row(col_name='payment_type', data_type='int', comment=''),
 Row(col_name='fare_amount', data_type='float', comment=''),
 Row(col_name='mta_tax', data_type='float', comment=''),
 Row(col_name='tip_amount', data_type='float', comment=''),
 Row(col_name='tolls_amount', data_type='float', comment=''),
 Row(col_name='total_amount', data_type='float', comment=''),
 Row(col_name='extra', data_type='string', comment=''),
 Row(col_name='improvement_surcharge', data_type='float', comment=''),
 Row(col_name='rate_code_id', data_type='string', comment=''),
 Row(col_name='pickup_year', data_type='int', comment=''),
 Row(col_name='pickup_month', data_type='int', comment=''),
 Row(col_name='', data_type='', comment=''),
 Row(col_name='# Partitioning', data_type='', comment=''),
 Row(col_name='Part 0', data_type='pickup_year', comment=''),
 Row(col_name='Part 1', data_type='pickup_month', comment='')]

time: 6.22 s (started: 2021-07-25 13:34:45 +00:00)

In [34]:
spark.sql("SHOW TABLES IN clean").collect()

[Row(database='clean', tableName='green_clean', isTemporary=False),
 Row(database='clean', tableName='yellow_clean', isTemporary=False)]

time: 14.8 ms (started: 2021-07-25 13:36:49 +00:00)

In [35]:
#spark.sql("DROP TABLE clean.yellow_clean").collect()

[]

time: 327 ms (started: 2021-07-25 13:37:01 +00:00)

In [36]:
spark.sql("SHOW TABLES IN clean").collect()

[Row(database='clean', tableName='green_clean', isTemporary=False)]

time: 14.3 ms (started: 2021-07-25 13:37:11 +00:00)

In [20]:
spark.sql("DESCRIBE TABLE raw.yellow_merged").collect()

[Row(col_name='vendor_id', data_type='string', comment=''),
 Row(col_name='pickup_datetime', data_type='string', comment=''),
 Row(col_name='dropoff_datetime', data_type='string', comment=''),
 Row(col_name='passenger_count', data_type='string', comment=''),
 Row(col_name='trip_distance', data_type='string', comment=''),
 Row(col_name='pickup_longitude', data_type='string', comment=''),
 Row(col_name='pickup_latitude', data_type='string', comment=''),
 Row(col_name='rate_code', data_type='string', comment=''),
 Row(col_name='store_and_fwd_flag', data_type='string', comment=''),
 Row(col_name='dropoff_longitude', data_type='string', comment=''),
 Row(col_name='dropoff_latitude', data_type='string', comment=''),
 Row(col_name='payment_type', data_type='string', comment=''),
 Row(col_name='fare_amount', data_type='string', comment=''),
 Row(col_name='surcharge', data_type='string', comment=''),
 Row(col_name='mta_tax', data_type='string', comment=''),
 Row(col_name='tip_amount', data_type='string', comment=''),
 Row(col_name='tolls_amount', data_type='string', comment=''),
 Row(col_name='total_amount', data_type='string', comment=''),
 Row(col_name='', data_type='', comment=''),
 Row(col_name='# Partitioning', data_type='', comment=''),
 Row(col_name='Not partitioned', data_type='', comment='')]

time: 45.6 ms (started: 2021-07-25 09:24:11 +00:00)

# Check issues with certain datasets

In [22]:
spark.sql("SHOW TABLES in clean").collect()

[Row(database='clean', tableName='green_clean', isTemporary=False),
 Row(database='clean', tableName='yellow_clean', isTemporary=False)]

time: 14 ms (started: 2021-07-25 14:21:49 +00:00)

In [21]:
spark.sql("DESCRIBE TABLE raw.green_merged").collect()

[Row(col_name='VendorID', data_type='string', comment=''),
 Row(col_name='pickup_datetime', data_type='string', comment=''),
 Row(col_name='dropoff_datetime', data_type='string', comment=''),
 Row(col_name='Store_and_fwd_flag', data_type='string', comment=''),
 Row(col_name='RateCodeID', data_type='string', comment=''),
 Row(col_name='Pickup_longitude', data_type='string', comment=''),
 Row(col_name='Pickup_latitude', data_type='string', comment=''),
 Row(col_name='Dropoff_longitude', data_type='string', comment=''),
 Row(col_name='Dropoff_latitude', data_type='string', comment=''),
 Row(col_name='Passenger_count', data_type='string', comment=''),
 Row(col_name='Trip_distance', data_type='string', comment=''),
 Row(col_name='Fare_amount', data_type='string', comment=''),
 Row(col_name='Extra', data_type='string', comment=''),
 Row(col_name='MTA_tax', data_type='string', comment=''),
 Row(col_name='Tip_amount', data_type='string', comment=''),
 Row(col_name='Tolls_amount', data_type='string', comment=''),
 Row(col_name='Ehail_fee', data_type='string', comment=''),
 Row(col_name='Total_amount', data_type='string', comment=''),
 Row(col_name='Payment_type', data_type='string', comment=''),
 Row(col_name='trip_type', data_type='string', comment=''),
 Row(col_name='improvement_surcharge', data_type='string', comment=''),
 Row(col_name='', data_type='', comment=''),
 Row(col_name='# Partitioning', data_type='', comment=''),
 Row(col_name='Not partitioned', data_type='', comment='')]

time: 55.9 ms (started: 2021-07-25 14:21:15 +00:00)

In [26]:
yellow_raw = spark.sql("""
        SELECT * FROM clean.green_clean 
        WHERE pickup_datetime > '2014-12-01'
        AND pickup_datetime < '2015-09-01'
    """)

time: 47.7 ms (started: 2021-07-25 14:24:20 +00:00)

In [27]:
(yellow_raw
     .withColumn("pickup_date", F.to_date(F.col("pickup_datetime"), "MM-dd-yyyy"))
     .groupBy("pickup_date")
     .agg(F.count("pickup_date"))
).take(10)

[Row(pickup_date=datetime.date(2015, 2, 10), count(pickup_date)=45711),
 Row(pickup_date=datetime.date(2015, 2, 13), count(pickup_date)=70191),
 Row(pickup_date=datetime.date(2015, 6, 9), count(pickup_date)=45376),
 Row(pickup_date=datetime.date(2015, 6, 12), count(pickup_date)=62623),
 Row(pickup_date=datetime.date(2015, 6, 13), count(pickup_date)=69740),
 Row(pickup_date=datetime.date(2015, 7, 15), count(pickup_date)=44259),
 Row(pickup_date=datetime.date(2014, 12, 5), count(pickup_date)=64589),
 Row(pickup_date=datetime.date(2014, 12, 8), count(pickup_date)=46172),
 Row(pickup_date=datetime.date(2014, 12, 12), count(pickup_date)=64914),
 Row(pickup_date=datetime.date(2015, 7, 20), count(pickup_date)=43366)]

time: 1.47 s (started: 2021-07-25 14:24:21 +00:00)

In [28]:
spark.stop()

time: 98.7 ms (started: 2021-07-26 01:19:30 +00:00)