See: https://towardsdatascience.com/time-series-forecasting-with-pycaret-regression-module-237b703a0c63

# Experimenting with PyCaret

In [1]:
from setup import start_spark, extract_data

spark = start_spark(sesh_name = 'Jupyter Sktime Modelling')
train, val = extract_data(spark)
spark.stop()

In [10]:
train.head()

             total_rides  total_takings
pickup_date
2013-08-01      307272.0   4.567414e+06
2013-08-02      236761.0   3.534616e+06
2013-08-03      226554.0   3.182267e+06
2013-08-04      202310.0   3.073609e+06
2013-08-05      406487.0   6.657713e+06

# PyCaret Training

With Pycaret we don't have proper timeseries fitting for univariate, we only have automated regression techniques on tabular data.
Would need something like tfresh to generate the right features

In [2]:
# import the regression module
from pycaret.regression import *

In [16]:
train['total_rides'] = train['total_rides'].astype('float')
val['total_rides'] = val['total_rides'].astype('float')

train['month'] = train.index.month
val['month'] = val.index.month

if 'total_takings' in train.columns:
    train = train.drop('total_takings', axis=1)
    
if 'total_takings' in val.columns:
    val = val.drop('total_takings', axis=1)

In [17]:
# initialize setup
s = setup(data = train, test_data = val, target = 'total_rides', fold_strategy = 'timeseries', 
          numeric_features = [], fold = 3, transform_target = True, session_id = 123)

In [18]:
best = compare_models(sort = 'MAPE')

In [19]:
prediction_holdout = predict_model(best);

In [21]:
# generate predictions on the original dataset
predictions = predict_model(best, data=val)

In [22]:
# we can see it's just flat cause it's going by the month feature
predictions

             total_rides  month          Label
pickup_date
2015-08-01      457430.0      8  437093.282777
2015-08-02      405241.0      8  437093.282777
2015-08-03      390578.0      8  437093.282777
2015-08-04      418718.0      8  437093.282777
2015-08-05      435400.0      8  437093.282777
2015-08-06      437779.0      8  437093.282777
2015-08-07      440706.0      8  437093.282777
2015-08-08      428376.0      8  437093.282777
2015-08-09      371924.0      8  437093.282777
2015-08-10      359234.0      8  437093.282777
2015-08-11      397457.0      8  437093.282777
2015-08-12      413305.0      8  437093.282777
2015-08-13      428154.0      8  437093.282777
2015-08-14      432913.0      8  437093.282777
2015-08-15      435633.0      8  437093.282777
2015-08-16      390688.0      8  437093.282777
2015-08-17      379122.0      8  437093.282777
2015-08-18      411637.0      8  437093.282777
2015-08-19      423960.0      8  437093.282777
2015-08-20      436055.0      8  437093.282777
2015-08-21      436022.0      8  437093.282777
2015-08-22      421932.0      8  437093.282777
2015-08-23      370717.0      8  437093.282777
2015-08-24      356311.0      8  437093.282777
2015-08-25      385931.0      8  437093.282777
2015-08-26      397066.0      8  437093.282777
2015-08-27      412478.0      8  437093.282777
2015-08-28      418959.0      8  437093.282777
2015-08-29      420165.0      8  437093.282777
2015-08-30      386048.0      8  437093.282777
2015-08-31      362708.0      8  437093.282777